.social-icon-facebook{
    color: #5374B3;
    font-size: 3rem;
    z-index: 2;
    padding: 0.1rem;
}

.single-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(99.9% * 1/5 - (0px - 0px * 1/5));
}

.card-header{
    background-color: #5374B3;
    width: 100%;
    height: 3.3rem;
    text-align: center;
}

.card-content{
    box-shadow: 1px 1px 1px 0 rgb(0 0 0 / 10%);
}

.social-counter{
    font: #333;
    font-size: .875rem;
    font-weight: 700;
}

.social-cta{
    color: #ABABAD;
    font-size: .6875rem;
}