.yayin-akisi{
    max-width: calc(100% - 106px);
    font-size: 1.375rem;
    font-weight: 700;
    color: #ff5722;
}

.news-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 54rem;
}

.news-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
}

.news-icon{
    color: white;
    background-color: #ff9800;
    padding: 0.5rem;
    border-radius: 5rem;
}

.news-left span{
    font-size: .6875rem;
    color: #999;
    text-align: center;
    white-space: nowrap;
}

.news{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.news-img{
    width: 17rem;
    cursor: pointer;
}

.news-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.5rem;
}

.news-content .news-tag{
    font-size: .8rem;
    font-weight: 700;
    color: #999;
    text-transform: uppercase;
}

.news-content .news-author{
    font-size: 0.75rem;
    font-weight: 400;
    display: table-cell;
    color: #999;
}

.news-content h2{
    font-size: 1.375rem;
    font-weight: 700;
    color: #222;
    cursor: pointer;
}

.news-content h2:hover{
    color: #ff5722;
}

@media screen and (max-width: 965px) {
    .news-section{
        margin: auto;
    }
}